<header>Groeps ID</header>

Evenals de <a href=uid>gebruikers ID</a>, is het de Groeps ID of GID die 
het systeem werkelijk gebruikt om rechten op bestanden en processen af te 
dwingen. Als twee groepen dezelfde GID hebben, worden ze als identiek gezien 
als het gaat om de controle op toegangsrechten. Bij het aanmaken van een 
nieuwe groep zal AdFreeZone dit veld invullen met een GID die nog niet door een
andere groep wordt gebruikt.

<hr>


