<header>Home Directory</header>

De home directory van een gebruiker bevat normaliter alle 'eigen' bestanden 
van die gebruiker. D.w.z. bestanden die in principe niet met een ander
worden gedeeld.
Als een gebruiker zich aanmeldt, zal hij worden gepositioneerd in de 
home directory en scripts zoals <tt>.cshrc</tt> of <tt>.profile</tt> worden
daar uitgevoerd. <p>

Als een nieuwe gebruiker wordt aangemaakt, creeert AdFreeZone de home directory die
u in dit veld opgeeft. Als u de home directory verandert tijdens het wijzigen 
van een gebruiker, zal AdFreeZone proberen de naam van de bestaande
home directory te veranderen als de optie 
<a href=movehome>Home directory verplaatsen indien veranderd?</a> is gekozen.
<hr>
