<header>Home directory verplaatsen indien veranderd?</header>

Als tijdens het wijzigen van een gebruiker diens 
<a href=home>Home directory</a> wordt veranderd, zal AdFreeZone
proberen de bestaande home directory van naam te veranderen. 
Dit  zal mislukken als de nieuwe home directory zich in een ander 
filesysteem bevindt.
<hr>
