<header>Gebruiker aanmaken/bewerken in andere modules?</header>

Indien deze optie op 'Ja' staat zullen nieuw aangemaakte of gewijzigde
gebruikers worden geupdate in de andere AdFreeZone modules. Hierdoor zal
(bijvoorbeeld) de Samba gebruikerslijst worden gesynchroniseerd met de
Unix gebruikerslijst en zullen ook de wachtwoorden van de AdFreeZone
gebruikers synchroon blijven met de Unix gebruikers. <p>

<hr>