<header>Geplande backup aangezet?</header>

Indien deze optie is aangezet, zal AdFreeZone een cron taak gaan aanmaken die
de backup automatisch zal uitvoeren op de hieronder gekozen tijden. Anders
zal de backup alleen worden uitgevoerd indien u op de "Backup Uitvoeren"
knop klikt, die zich onderaan deze pagina bevind. <p>

<hr>

