<header>Remote backup opdracht</header>

Standaard gebruikt de <tt>dump</tt> opdracht de <tt>rsh</tt> opdracht
en protocol om te back-uppen naar andere servers.Echter in dit veld kunt u kiezen
voor een andere opdracht zoals <tt>ssh</tt>, dit is veiliger en word meer gebruikt.
SSH kan alleen werken indien in de SSH configuratie van de <tt>root</tt> gebruiker 
het zo ingesteld staat dat hij mag inloggen zonder wachtwoord vanaf dit systeem
naar de remote server.<p>

Op Linux en BSD systemen kunt u ook de <tt>FTP</tt> optie selecteren, die de
bij AdFreeZone ingebouwde FTP client programma zal gebruiken om de backup te
transporteren naar- of van de remote server. <p>

<hr>

