<header>Frox FTP Proxy</header>

Frox is een server die verbindingen kan onderscheppen en doorsturen van clients
die gerouteerd worden door uw server. Hierdoor kunt u de via FTP vaak
gedownloade files in cache houden, controleren welke clients toegang hebben om
FTP te gebruiken en het bandbreedte gebruik verminderen wat word verbruikt.
Het is vergelijkbaar met Squid, echter speciaal voor FTP gebruik in plaats van
HTTP. <p>

Het is niet bruikbaar als uw systeem geen gateway is tussen het interne netwerk
en het internet - indien u FTP files in cache wilt hebben voor een enkel systeem
kunt u beter Squid gebruiken. <p>

Om Frox goed te kunnen laten werken moet er een firewall regel aangemaakt worden
om al het data verkeer wat over poort 21 gaat om te leiden naar de poort waar
Frox op luistert. Indien u Linux gebruikt met de Linux firewall module waarmee u
uw firewall beheert, kan deze module heel makkelijk een regel voor u opzetten. <p>

<hr>

