<header>AdFreeZone PostgreSQL Backup Form Help</header>

<p />
    De PostgreSQL systeem gebruiker id moet schrijf permissies hebben
op iedere directory die gebruikt word als doel voor een backup.

<p />
    Ongeacht de geselecteerde backup file formaat, word van iedere
database een backup gemaakt in een enkele file in de vorm :
&lt;naam&gt;.&lt;extensie&gt; waar &lt;extensie&gt; 1 van de 
'post', 'tar', of 'sql' kan zijn.

<p />
   Opdrachten die gespecificeerd zijn om vooraf of achteraf uitgevoerd te worden
worden ook vooraf of achteraf getriggerd bij <em><strong>iedere</strong></em> database
en <strong>NIET</strong> eenmalig vooraf of achteraf een gehele set databases.

<footer>