<header>PostgreSQL Groepen</header>

Met deze pagina kunt u groepen met gebruikers aanmaken voor later gebruik
wanneer u permissies wilt toekennen. Iedere groep heeft een naam, een groep
ID (normaal gesproken toegekend door AdFreeZone) en een lijst met leden. <p>

<hr>