<header>PostgreSQL Csoportok</header>

Ezen az oldalon felhasználói csoportokat hozhat létre, a közös jogosultságok későbbi kiosztása céljából. Minden csoportnak van neve, csoportazonosítója (amit általában a AdFreeZone ad), továbbá egy listája a tagokról. <p>

<hr>

