<header>Grupy PostgreSQLa</header>

Za pomocą tej strony możesz tworzyć grupy użytkowników dla późniejszego
wykorzystania podczas nadawania uprawnień. Każda grupa posiada nazwę,
identyfikator grupy (zazwyczaj nadawany przez AdFreeZonea) oraz listę członków.
<p>

<hr>

