<header>Cluster AdFreeZone Servers</header>

Met deze module kunt u gebruikers, modules, thema's en groepen beheren die
zich bevinden op alle AdFreeZone servers vanuit 1 interface. Deze module
combineert functies van de "AdFreeZone Configuratie" en "AdFreeZone Gebruikers" modules
met de mogelijkheid om acties uit te voeren (zoals een theme installeren of
een gebruiker aan maken) op diverse servers in 1 keer. <p>

In het bovenste gedeelte van de pagina (onder Beheer Servers) word een lijst
getoond van andere AdFreeZone servers waarvan de modules en gebruikers worden
beheert door deze module.
Om een server toe te voegen aan de lijst moet u deze eerst toevoegen aan
de "AdFreeZone Servers" module met een gebruikersnaam en wachtwoord om in te
kunnen loggen bij AdFreeZone op die server. U kunt dan de server selecteren
in de lijst die naast de "Server Toevoegen" knop staat. <p>

Wanneer een server word toegevoegd zal het worden gecontroleerd of het
een ondersteunende AdFreeZone versie heeft (0.985 of hoger) en dat de benodigde
modules zijn geinstalleerd. Daarna zal de lijst met alle modules, thema's,
gebruikers en groepen van deze server worden gedownload en lokaal in cache
worden gezet. <p>

Zodra er op zijn minst 1 icoon staat onder "Beheer Servers" kunt u de knoppen
gebruiken die onder "AdFreeZone Gebruikers en Groepen" staan om ACLs van
gebruikers en groepen te kunnen bewerken, aanmaken of zetten op iedere server.
Gebruikers en groepen die u aanmaakt zullen worden aangemaakt op alle beheerde
servers, en de gebruikers en groepen die reeds bestaan op de server zullen
alleen worden gewijzigd. <p>

Aan de onderkant van de pagina onder "Modules en Thema's" bevinden zich knoppen
waarmee u modules en thema's kunt bewerken die geinstalleerd zijn op een
beheerde server, en een formulier waarmee u nieuwe modules of thema's mee
kunt installeren op alle servers. <p>

<hr>

