<header>Hitelesítőprogramok; fordította: Szakács Gergely</header>

<p>
<b>Egyéni hitelesítőprogram</b>: Alapértelmezés szerint nincs. Határozza meg a külső hitelesítő parancsát. Egy ilyen program beolvas egy "felhasználónév jelszó" tartalmú sort, majd "OK" vagy "ERR" visszajelzést ad, végtelen hurokban. Ha hitelesítőprogramot használ, gondoskodjon arról, hogy van egy proxy_auth típusú ACL-je is.<p>

Amennyiben a hagyományos proxy-hitelesítést kívánja használni, úgy írja át ezt a sort a következőképp: /usr/bin/ncsa_auth /usr/etc/passwd. Feltéve, hogy az ncsa_auth telepítve lett a rendszerre.<p>

<b>A hitelesítőprogramok száma</b>: Alapértelmezés szerint 5, feltéve, hogy engedélyezve lett a hitelesítés.<p>

<b>Jelszótárolás ideje</b>: Meghatározza, hogy a Squid mennyi ideig rögzít egy sikeres bejelentkezést a gyorstárban, mielőtt újra meghívná a hitelesítőprogramot.<p>

<b>Felhasználók IP-kötésének ideje</b>: Ha egy adott felhasználó két különböző IP-címről próbál bejelentkezni ez időtartam alatt, úgy a kérés elutasításra kerül. Ezzel megelőzhető, hogy a felhasználók megosszák egymás között a proxy-jelszavakat.<p>

<hr>

Ha a Squid 2.5-ös, vagy a fölötti verzióját használja, a fenti beállítási lehetőségeket egymástól függetlenül módosíthatja, különböző hitelesítési típusok (pl. Digest, NTLM) használatakor. Ha azonban a AdFreeZone-t kívánja használni a proxy-felhasználók listájának szerkesztéséhez, úgy a Basic hitelesítést kell választania.<p>

<hr>

