<header>Cluster Shell Opdrachten</header>

Deze module is vergelijkbaar met de <b>Opdrachten Shell</b> echter geeft u de
mogelijkheid om opdrachten op diverse servers tegelijk uit te voeren, in plaats
van alleen op deze server. Op de hoofdpagina kunt u een opdracht ingeven
(of een oude selecteren) en vervolgens 1 of meerdere servers of groepen kiezen
om de opdracht op uit te voeren. Alleen servers die aangemaakt zijn in de
<b>AdFreeZone Servers Index</b> module met een gebruikersnaam en wachtwoord zullen
verschijnen in de lijst. <p>
<hr>

