<header>Beveiliging Schildwachten</header>

Met deze module kunt u de instellingen voor de TriSentry suite configureren
van de beveiligingsprogramma's van Psionic Technologisch.
Deze drie programma's (<tt>portsentry</tt>, <tt>hostsentry</tt> en <tt>logcheck</tt>)
kunnen worden gebruikt om automatisch beveiligings schendingen te detecteren en
daarbij de systeem administrator hiervan te informeren. <p>

<hr>