<header>Logcheck Configuratie</header>

Logcheck is een programma die automatisch uw systeem logfiles monitort
op een reguliere basis en beveiligings schendingen naar e-mailt. Hij kijkt
naar berichten die gegenereerd worden door diverse programma's,
inclusief (Portsentry en Hostsentry) of er een hack poging word gedaan,
en genereert vervolgens een rapport wat word gemaild naar een gekozen adres. <p>

De opties op deze pagina zijn :
<ul>
<li><b>Email rapporten naar</b><br>
    Het email adres waar de beveiligings schending rapport word toegestuurd. <p>

<li><b>Hack log berichten</b><br>
    Een lijst met berichten die indien gevonden worden in 1 van de systeem log files
    een indicatie hebben van een hack poging. <p>

<li><b>Logmelding Overtredingen</b><br>
    Een lijst met berichten die een indicatie hebben van een potentiŽle beveiligings
    overtreding. Ieder bericht wat in die lijst staat maar ook in de 'Behalve voor' lijst
    zullen worden genegeerd. <p>

<li><b>Genegeerde log berichten</b><br>
    Ieder log bericht in dit veld zullen altijd genegeerd worden, zelfs indien het
    overeenkomt met 1 van de hacking of overtreding berichten string. <p>
</ul>

Onderaan deze pagina bevind zich een formulier op precies uit te kiezen wanneer
Logcheck moet worden uitgevoerd. Echter indien uw Logcheck installatie gebruik
maakt van een Cron script waardoor het geforceerd ieder uur of iedere dag word uitgevoerd
zal dit formulier niet getoond worden. <p>

<p>
