<header>Omgevings variabelen opschonen?</header>

Indien dit word aangezet zullen alle HTTP- gerelateerde omgevingsvariabelen
die normaal gesproken worden gebruikt door AdFreeZone worden opgeschoont, voordat
de opdracht word uitgevoerd. Dit kan erg nuttig zijn omdat u hiermee voorkomt
dat een opdracht word verward (in de war raakt door) met sommige variabelen 
die bijvoorbeeld in een PHP script kunnen voorkomen. <p>

<hr>

