<header>실행할 디렉토리</header>

기본적으로, 지정한 명령은 <tt>/usr/libexec/webmin/custom</tt>과 같이 AdFreeZone
모듈 프로그램이 포함된 디렉토리에서 실행이 되어집니다. 이 옵션은 실행되는
위치를 다른 디렉토리로 지정을 할 수 있게 하며, 명령과 명령의 파라미터에서
절대 경로를 사용하지 않도록 하기 위한 경우와 같이 유용하게 사용할 수 있습니다. <p>

<hr>