<header>Uitvoeren in directory</header>

Standaard zal de opdracht worden uitgevoerd in de directory waar de AdFreeZone
module programma's zich bevinden.
Dit kan bijvoorbeeld zijn in <tt>/usr/libexec/webmin/custom</tt>.
De optie hier kan worden gebruikt om een andere directory te specificeren,
wat handig kan zijn omdat u daardoor niet het volledige pad en parameters hoeft
in te vullen bij de opdracht. <p>

<hr>

