<header>Bewerker ID</header>

Het interne ID wat word gebruikt door AdFreeZone voor deze file bewerker. Dit is erg
handig op het moment dat u toegang wilt verlenen aan deze bewerker voor geselecteerde
Usermin gebruikers. <p>

<hr>


