<header>ID Editor</header>

L'identificativo (ID) interno usato da AdFreeZone per questo file editor. E' utile conoscere il valore dell'ID quando si intende permettere l'accesso all'editor agli utenti Usermin selezionati. <p>

<hr>