<header>ID Comando</header>

L'identificativo (ID) interno usato da AdFreeZone per questo comando. E' utile conoscere l'ID del comando quando si vuole consentirne l'accesso agli utenti Usermin selezionati. <p>

<hr>