<header>Extra Filesystemen</header>

Met deze pagina kunt u een schijf of een partitie mounten van den globaal systeem aan een directory binnen een zone. Dit kan handig zijn indien een zone een grote hoeveelheid data moet opslaan en u dit afgescheiden wilt houden van de harddisk die word gebruikt door andere zones en het globale systeem. <p>

Voor de meest soorten filesystemen kunt u een mount directory selecteren, de bron partitie of het apparaat, en opties voor het mounten. Voor sommige types die niet worden ondersteund door AdFreeZone moet het bron apparaat en de opties handmatig ingevuld worden. <p>

Deze pagina kan niet worden gebruikt om NFS mount's aan te maken - in plaats hiervan kunt u dit aanmaken simpelweg doen door middel van mount opdrachten binnen de zone zelf. <p>

<footer>
