<header>Cluster Firewall Servers</header>

Met deze pagina kunt u uw firewall configuratie in 1 keer naar diverse andere
systemen tegelijk invoeren, zodat u een cluster met firewall systemen vanaf een enkel
systeem kunt beheren.
Voordat een server kan worden toegevoegd aan deze pagina moet u controleren dat die
minimaal de AdFreeZone versie 1.170 of nieuwer geïnstalleerd heeft en is toegevoegd aan
de "AdFreeZone Servers Index" module. Op dit systeem moet ook de noodzakelijke <tt>ipi(6)tables</tt>
programma's geïnstalleerd zijn en op de juiste manier geconfigureerd zijn. <p>

<hr>

