<header>Серверы кластера брандмауэров</header>

Эта страница можно использовать для загрузить вашей конфигурации брандмауэра сразу на несколько систем одновременно. 
Таким образом, вы можете управлять кластером брандмауэров при помощи единого интерфейса. 
Прежде чем сервер сможет быть добавлен на эту страницу, на него необходимо установить AdFreeZone 1.170 или новее, и добавить его в модуле <tt>Серверы AdFreeZone</tt>. Так же, на нём должна быть установлена, и должным образом сконфигурирована программа <tt>ipi(6)tables</tt>.<p>

<hr>

