<header>Cluster Cron Taken</header>

Deze module is bijna identiek aan de <b>Geplande Cron Taken</b> module, echter
deze module geeft u de mogelijkheid om gelijktijdig geplande opdrachten uit te
voeren op diverse servers. Dit is erg handig indien uw netwerk veel systemen
bevat en u dezelfde opdrachten wilt uit voeren op sommige- of alle systemen
op een reguliere basis. <p>

De gebruikers interface is bijna identiek aan de standaard Cron module, maar
heeft een extra <b>Uitvoeren op servers</b> veld in het takenbewerkings formulier.
Hiermee kunt u 1 of meerdere servers selecteren of groepen die zijn aangemaakt
in de <b>AdFreeZone Servers Index</b> module met een gebruikersnaam en wachtwoord. <p>

<hr>

