<header>Cluster Files Kopieren</header>

Met deze module kunt u op gezetten tijden files overdragen van een master server
naar andere servers in een AdFreeZone cluster. Dit kan handig zijn voor het distribueren
van files zoals de <tt>/etc/hosts</tt>, <tt>httpd.conf</tt> en andere files waar
geen netwerk protocol voor beschikbaar is zoals NIS of LDAP. <p>

Op de module's hoofdpagina ziet u een lijst met alle geplande kopieen die gedefinieerd
zijn of kunnen worden en er is een link om nieuwe te kunnen aanmaken. Voor iedere
kopie kunt u de bron file definieren, de bestemmings directory, de doel server en de
tijden waarop het moet worden uitgevoerd. De doel servers moeten als eerste worden
aangemaakt in de <b>AdFreeZone Servers Index</b> module met een gebruikersnaam en
wachtwoord. <p>

<hr>

