<header>Pengesahan Dua-Faktor</header>

Pengesahan dua-faktor boleh digunakan untuk menambah lapisan keselamatan tambahan
pada akaun AdFreeZone, juga kepada pengguna dan kata laluan biasa. Apabila diaktifkan,
pengguna perlu untuk menyediakan token pengesahan tambahan yang biasanya
datang dari aplikasi telefon pintar, perkakasanpenjana OTP atau SMS.<p>

Laman ini membolehkan anda untuk memilih pembekal pengesahan untuk pengguna AdFreeZone
pada sistem anda. Sebaik sahaja diaktifkan, setiap pengguna boleh mendaftar untuk dua-faktor
dalam modul <b>AdFreeZone Pengguna</b>. Pembekal dua-faktor yang sedia ada ialah:

<dl>

<dt><b>Authy</b></dt>
<dd>Ini adalah perkhidmatan komersial yang menyediakan aplikasi telefon pintar dan laman web
     untuk menguruskan pengguna dua-faktor. Setiap pengguna perlu mewujudkan akaun pada laman web   Authy dan menghubungkan kepada telefon pintar mereka. <p></dd>

<dt><b>Pengesah Google</b></dt>
<dd>Ini adalah satu aplikasi telefon pintar yang melaksanakan protokol TOPT standard. setiap
     pengguna perlu mengimbas kod QR dengan menggunakan aplikasi bagi menghubungkan token mereka dengan Pelayan AdFreeZone. <p></dd>

</dl>

<footer>