<header>Uruchom zadanie kopii zapasowej</header>

Formularz ten może być używany do natychmiastowego wykonania zadania
kopii zapasowej Bacula. Aby uruchomić zadanie, musisz tylko wybrać je z
listy i następnie wybrać czy AdFreeZone powinien zaczekać na wyświetlenie
wyników. <p>

<footer>