<header>Grupy Bacula</header>

Ta strona wyświetla listę grup hostów, w których każdy zestaw hostów może być
jednocześnie kopiowany za pomocą pojedynczego <strong>Zadania kopii zapasowej
grupy Bacula</strong>. Hosty w grupie pobierana są albo z bazy danych węzła 
Menedżera OCM lub indeksu modułu Serwery AdFreeZonea w zależności od konfiguracji
tego modułu.<p>

Aby kopia zapasowa grupy Bacula działała, musi mieć zainstalowaną usługę pliku Bacula, 
a wszystkie hosty w grupie muszą posiadać to samo hasło dla tego menedżera. <p>

<footer>
