<header>Synchronizacja grupy Bacula</header>

Ze względu na to, że hosty w grupie Bacula mogą się zmieniać po utworzeniu ich w tym module,
strona ta może być używana do automatycznych uaktualnień informacji o członkostwie
w grupie. Ten moduł AdFreeZonea buforuje hosty, dla każdej grupy w konfiguracji Bacula i nie
wykrywa automatycznie zmian członkostwa dopóki nie zostanie ustawiona synchronizacja.<p>

<footer>