<header>Bacula Groep Synchronisatie</header>

Omdat de hosts in de Bacula groep kunnen worden verandert nadat ze waren aangemaakt
in deze module, kunt u deze pagina gebruiken om een automatische update uit te
voeren van de groep leden informatie. Deze AdFreeZone module zet de leden hosts van
iedere groep die zich in de Bacula configuratie bevind in een cache.
AdFreeZone zal niet automatisch de wijzigingen detecteren van de configuratie
waardoor het belangrijk is dat u deze automatische synchronisatie opzet.<p>

<footer>


