<header>Extra LDAP gebruiker eigenschappen om te kunnen bewerken</header>

Indien uw LDAP database attributen gebruikt die niet direct worden ondersteunt
door AdFreeZone kunt u deze configuratie optie gebruiken om extra velden toe te
voegen aan de gebruiker bewerking's pagina zodat u het daar toch kunt beheren.
Dit kan erg handig zijn voor het bewerken van Qmail+LDAP eigenschappen
zoals mailDoorstuurAdres en mailBerichtenOpslag.<p>

Als u attributen bewerkt moet dit in het volgende formaat zijn :<p>

naam1 omschrijving1<br>
naam2 omschrijving2<br>
<p>
De naam is de LDAP naam van het attribuut, en de omschrijving is de tekst die
getoond word in AdFreeZone. De naam mag optioneel opgevolgd  worden door een +,
waarmee u aangeeft dat deze attribuut meerdere waardes kan bevatten. <p>
<footer>

