<header>Cluster AdFreeZone Servers</header>

Met deze module kunt modules en thema's beheren inclusief gebruikers en groepen
die op andere AdFreeZone servers staan verspreid over uw netwerk via 1 interface.
Deze module conbineert de functies van de "AdFreeZone Configuratie" en
"AdFreeZone Gebruikers" modules met de mogelijkheid om acties uit te voeren zoals
het installeren van een thema of een gebruiker aan te maken op diverse 
servers in 1 handeling. <p>

In het bovenste gedeelte van de hoofd pagina onder "Beheer Servers" ziet u
een lijst van andere AdFreeZone servers waarvan de modules en gebruikers worden
beheerd door deze module. Voordat u een server kunt toevoegen aan de lijst
moet u deze eerst toevoegen aan de "AdFreeZone Servers" module met een gebruikersnaam
en wachtwoord waarmee ingelogd kan worden bij AdFreeZone op die server.
U kunt dan de server selecteren in de lijst die naast de "Toevoegen Server"
knop staat. <p>

Wanneer een server word toegevoegd zal er automatisch worden gecontroleerd
dat er een ondersteunende AdFreeZone versie werkt (0.985 of hoger) en dat de
benodigde modules zijn geinstalleerd. Daarna zal er een lijst van alle
modules, thema's, gebruikers en groepen van deze server worden gedownload
en lokaal in cache worden gezet. <p>

Zodra er op zijn minst 1 icoon staat onder "Beheerde Servers" kunt u de
knoppen gebruiken die zich bevinden onder "AdFreeZone Gebruikers en Groepen"
om zaken te bewerken, aan te maken of ACLs te zetten op gebruikers en groepen
die zich op andere servers bevinden. Gebruikers en groepen die u aanmaakt
zullen dan ook aangemaakt worden op alle beheerde servers, echter die reeds
bestaan zullen alleen worden bewerkt, verwijdert of worden verandert, afhankelijk
van wat u gewijzigt wilt hebben. <p>

Aan de onderkant van deze pagina, onder "Modules en Thema's" bevinden zich knoppen
waarmee u modules en thema's kunt bewerken die geinstalleerd zijn op de beheerde
servers, en vind u een formulier waarmee u nieuwe modules of thema's kunt
installeren op deze servers. <p>

<hr>
