<header>Firewall untuk mengaktifkan pada sambungan</header>

Bahagian ini digunakan untuk menerapkan Firewall IPchain secara automatik apabila
sambungan ADSL telah dibuat. Walau bagaimanapun, module Linux Firewall AdFreeZone boleh juga digunakan berbanding menggunakan konfigurasi firewall anda sendiri.<p>

<hr>
