<header>Firewall die word geactiveerd bij een verbinding</header>

Dit veld kan worden gebruikt om een IP-keten Firewall automatisch te starten
zodra er een ADSL verbinding word gemaakt. Echter AdFreeZone's Linux Firewall module
kan ook hiervoor gebruikt worden, waarbij u de firewall geheel zelf kunt
instellen. <p>

<hr>

