<header>Systeem Documentatie</header>

Met deze module kunt u zoeken naar diverse soorten documentatie die
opgeslagen zijn op uw systeem. Vul de zoek term in, in het <tt>Zoek naar</tt>
veld en selecteer het soort documentatie wat u zoekt met gebruik van de
checkboxen die naast <tt>Zoeken in</tt> staan. Indien u meer dan 1 woord
invult om naar te zoeken selecteer dan ook de <tt>Alle overeenkomsten</tt> optie
om documenten te vinden waarin deze woorden voorkomen. <p>

De <tt>Overeenkomsten</tt> optie bepaald of AdFreeZone alleen zoekt naar file
namen voor deze zoek term of ook naar de file inhoud. Zoeken naar de inhoud
kan veel meer resultaten geven maar duurt ook veel langer. <p>

Wanneer u klaar bent klikt u op de <tt>Zoek</tt> knop. Vervolgens zal er een
pagina verschijnen met alle documentatie die overeenkomt.
Vandaar uit kunt u klikken op de file die u wilt bekijken, waarna de file of
pagina getoond zal worden. <p>

<hr>

