<header>Engine Daemon Configuratie</header>

De engine daemon configuratie is een achtergrond proces voor verschillende
doelen. Het kan een hoofd configuratie uitvoeren in een reguliere planning,
het kan aanvragen accepteren van andere hosts om onmiddelijk de hoofd
configuratie uit te voeren en hij kan files versturen naar andere hosts die
om een kopie vragen van deze server met een File Kopie actie. <p>

De daemon heeft zijn eigen configuratie file met een gelijkwaardige structuur
met acties an classes als de hoofd configuratie. Indien de configuratie leeg
is moet u de <i>Configuratie daemon opties</i> starten waarmee u opdrachten kunt
definieren die op geplande tijden kunnen worden uitgevoerd en wanneer dit word
gevraagd door andere hosts. Andere soorten acties kunnen ook worden toegevoegd
bijvoorbeeld om beperkte toegang te verlenen tot files voor bepaalde hosts. <p>

Onderaan deze pagina vind u een knop om de deamon te starten indien deze niet
aan het werk is, of te stoppen indien hij aan het werk is. <p>

<hr>

