<header>AdFreeZone CFengine Cluster</header>

Met deze pagina kunt u CFengine op een makkelijke manier laten werken op diverse
hosts met gebruik van 1 master configuratie. Het is een alternatief voor de 
Configuratie Engine Deamon en de Remote Configuratie Hosts pagina elders in deze
module. Echter anders dan bij andere cluster AdFreeZone modules is het voor deze module
wel nodig dat AdFreeZone is geinstalleerd op iedere hosts waar u het wilt toepassen.
En dat ze allemaal gedefinieerd zijn in de AdFreeZone Servers module. <p>

Het bovenste gedeelte van deze pagina toont u de hosts waarop CFengine is
geinstalleerd en die kunnen worden aangestuurd via deze pagina. Voordat u een nieuwe
hosts hier toevoegt moet u deze eerst toevoegen in het AdFreeZone Servers gedeelte
met bijbehorend wachtwoord en gebruikersnaam. Selecteer het eerst in de lijst wat
naast de "Toevoegen Server" knop staat en klik dan pas op de knop. Op de server
moet uiteraard wel de CFengine module geinstalleerd en correct geconfigureerd zijn. <p>

Aan de onderkant van deze pagina bevind zich een formulier om CFengine gelijktijdig uit
te voeren op alle hosts die in de lijst staan. Indien u op de onderste knop klikt 
zal de configuratie van deze host worden gekopieerd naar alle andere hosts en zal de
bestaande CFengine configuratie file worden overschreven. Hierdoor kunt u op een
makkelijke manier alles beheren met 1 master configuratie van deze server en het
distribueren indien dit nodig is. Hostnaam classes kunnen worden gebruikt om
verschillende acties uit te voeren op verschillende servers indien dit nodig is. <p>

<hr>

