<header>Configuratie Engine</header>

CFengine is een krachtig stuk gereedschap om een hele serie systeem
administratie acties in 1 keer uit te voeren indien dit nodig is.
Dit kunnen bijvoorbeeld acties zijn zoals links en directory's aanmaken,
file permissies zetten, lopende processen beheren en oude files opschonen.
Zijn class systeem geeft u de mogelijkheid om dezelfde configuratie te
gebruiken op divers systemen waarbij verschillende acties kunnen worden
uitgevoerd afhankelijk van het soort systeem, de hostnaam of andere criteria. <p>

Op de hoofs pagina van deze module vind u een overzicht van alle acties die
opgezet zijn op uw systeem, de classes waartoe deze gezet worden, en een
beknopt overzicht wat de actie doet voor iedere class. U kunt een nieuw soort
actie toevoegen indien u op de knop klikt onderaan de tabel, en een nieuwe
class toevoegen voor een bestaande actie door te klikken op de <i>Toevoegen class..</i>
link, of een bestaande class bewerken voor een actie door te klikken op de
class naam in de <i>Toevoegen aan classes</i> kolom. <p>

Indien uw configuratie op dit moment leeg is moet u een nieuwe <i>Master controle</i>
actie aanmaken die bepaald welke andere actie moeten worden uitgevoerd.
Wanneer u nieuwe acties toevoegt moet u er zeker van zijn dat deze voorkomen in
de master controle actie lijst. Indien dit niet het geval is zal er een <i>Nee</i>
verschijnen naast de actie in de <i>Actief?</i> kolom en zal de actie nooit
worden uitgevoerd. <p>

<hr>

