<header>Remote Configuratie Hosts</header>

Deze pagina toont een lijst met andere hosts waarop CFengine is geinstalleerd,
zodat u hiervandaan gelijktijdig het proces kan triggeren van geconfigureerde acties
op verschillende hosts vanaf 1 bron. Iedere hosts moet wel de Configuratie Engine
deamon aan hebben staan die geactiveerd kan worden voor remote processen.
Let op dat andere hosts hun eigen lokale configuratie zullen gebruiken en niet
die van deze server.
Om een hoofd configuratie naar diverse andere hosts te kopieren terwijl deze aan
het werk is kan u dat alleen doen met een <i>Kopieer files</i> actie. <p>

<hr>

