<header>Configuratie Engine Uitvoeren</header>

Op deze pagina kunt u opties selecteren om CFengine uit te voeren op uw systeem.
Het vaak een goed idee om de optie te selecteren 'Alleen laten zien wat word gedaan?'
Nadat u veranderingen heeft gemaakt en wilt zien wat het effect is daarvan
voordat u het werkelijk gaat uitvoeren. <p>

<hr>

