<header>Kontrola dostępu IP</header>

Kontrola dostępu IP działa tak samo jak globalna kontrola dostępu IP dostępna w module Konfiguracja AdFreeZonea. Jeśli użytkownik przejdzie przez kontrolę globalną będzie także sprawdzony tutaj.<p>

<footer>
