<header>Контроль доступа по IP</header>

Доступ пользователя по IP работает так же, как и общий в модуле настройки AdFreeZone. Проверка доступа пользователя по IP производится после общей проверки. <p>

<footer>
