<header>Kawalan capaian IP</header>

kawalan capaian IP pengguna berfungsi sama seperti kawalan capaian IP global dalam modul Konfigurasi AdFreeZone. Hanya jika pengguna melepasi kawalan global baru diperiksa disini. <p>

<footer>
