<header>IP toegangs controle</header>

Gebruiker IP toegangs controle werkt op dezelfde manier als de globale IP toegangs controle in de AdFreeZone Configuratie module.
Alleen wanneer een gebruiker de globale controle passeerd zal hetgeen wat hier geconfigureerd is ook worden gecheckt. <p>

<footer>

