<header>LDAP Server</header>

Met deze module kunt u de OpenLDAP directory server configureren en de objecten
beheren in zijn database. Ervan uitgaande dat u een LDAP server heeft
geinstalleerd op hetzelfde systeem als waar AdFreeZone geinstalleerd is.
De hoofd pagina laat iconen zien waarmee u de server configuratie kunt bewerken
en de database mee kunt beheren. Indien de module zo is geconfigureerd dat u
een remote LDAP server beheerd zal alleen iconen laten zien om toegang te
krijgen tot de database. <p>

U kunt bepalen of het een lokale of een remote server moet beheren door te
klikken op de <b>Module Config</b> link. Alleen wanneer u een lokale server
beheerd zult u een pagina krijgen om configuratie files te bewerken en om het
OpenLDAP server proces te stoppen, starten en te herstarten. <p>

Indien u alleen Unix gebruikers en groepen wilt beheren in uw LDAP database
moet u kijken bij de <b>LDAP Gebruikers en Groepen</b> module die u vind
in de AdFreeZone <b>Systeem</b> categorie. Wilt u het systeem configureren om
gebruikers en groepen op te halen van een lokale of remote LDAP server kunt
u het beste de <b>LDAP Client</b> module gebruiken, ook deze module vind u
in de AdFreeZone <b>Systeem</b> categorie. <p>

<footer>

